.home-container {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  background-image: url("../assets/fondo_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
}
.home-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* oscurece el fondo */
  z-index: -1;
}



/* Banner */
.banner {
  background: rgba(6, 36, 11, 0.685); /* fondo muy suave para dejar ver el fondo natural */
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  backdrop-filter: blur(4px); /* da un efecto como si fuera vidrio contra naturaleza */
}


.banner h1 {
  color: rgb(221, 224, 37);
    text-shadow:
  -2px -2px 0 #000,
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000,
   0px  0px 5px #000; /* un poco de glow opcional */
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid #c8e6c9;
  border-radius: 1rem;
  width: 200px;
  padding: 1rem;
  text-decoration: none;
  color: #b8e69a;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
  background-color: #d3db59;
  box-shadow: 0 4px 12px rgba(139, 195, 74, 0.3);
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.home-footer {
  margin-top: 3rem;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #cddccc;
  background-color: rgba(0, 51, 0, 0.7); /* Verde oscuro translúcido */
  border-top: 2px solid #4caf50;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

.home-footer a {
  color: #c6e441;
  text-decoration: none;
  font-weight: bold;
}

.home-footer a:hover {
  text-decoration: underline;
  color: #d4ff75;
}
